body{
    background: rgb(56, 56, 56);
}
#title{
    text-align: center;
    color: white;
}
#web.html{
    color:rgb(39, 202, 202);
    background-color: purple;
    border: 20 solid, cyan;
}
.cpp{
    background-color: cyan;
    text-align: right;
    display: inline;
}
#link.cpp{
    color: purple
}
.byjuPew{
    background-color: rgb(39, 202, 202);
    display: inline;
}
img.cpp{
    padding-bottom:2rem;
    background-color: rgb(56, 56, 56);
}
.byjuBow{
    background-color: cyan;
    display: inline;
}